.search-input[type='text'] {
  width: 100%;
  border: none;
  font-size: 12px;
  background-color: white;
  background-position: 8px 8px;
  background-repeat: no-repeat;
  padding: 10px 20px 10px 5px;
}
