.background-image {
  min-width: 100%;
  height: 30vh;
  background-image: linear-gradient(45deg, #6a78d1, #00a4bd),
    url('https://www.hubspot.com/hs-fs/hubfs/Contact%20Us/banner.jpg?width=1800&amp;name=banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
}
